[project]
	description = Sensor collection and storage infrastructure
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kenny Luong (FFAxKenny)
[access "refs/for/refs/*"]
	read = group user/Kenny Luong (FFAxKenny)
	push = group user/Kenny Luong (FFAxKenny)
	label-Code-Review = -2..+2 group user/Kenny Luong (FFAxKenny)
	label-Verified = -1..+1 group user/Kenny Luong (FFAxKenny)
	rebase = group user/Kenny Luong (FFAxKenny)
	removeReviewer = group user/Kenny Luong (FFAxKenny)
	submit = group user/Kenny Luong (FFAxKenny)
[access "refs/heads/*"]
	read = group user/Kenny Luong (FFAxKenny)
	create = group user/Kenny Luong (FFAxKenny)
	push = +force group user/Kenny Luong (FFAxKenny)
	pushMerge = group user/Kenny Luong (FFAxKenny)
[access "refs/tags/*"]
	push = +force group user/Kenny Luong (FFAxKenny)
	pushTag = group user/Kenny Luong (FFAxKenny)
	pushSignedTag = group user/Kenny Luong (FFAxKenny)
