<html>
	<h1>
		Gateway
	</h1>
    <script>
        var exampleSocket = new WebSocket("ws://" + location.host + "/ws");
        exampleSocket.onmessage = function(message){
            console.log(message.data);
        }
        exampleSocket.onopen = function(){
            console.log("Socket Connected");
        }

    </script>
</html>

